@font-face {
    font-family: 'Barlow';
    src: url('/static/font/Barlow-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Repair';
    src: url('/static/font/Repair-Regular.woff2') format('woff2');
}